$color-white = #FFFFFF;
$color-red = red;
$color-black = black;
$color-gray = #989898;
$color-dark-gray = #848484;
$color-light-gray = #CCCCCC;
$color-grean = #4CAF50;
$color-dark-grean = #3E8241;
$font-size-base = 16px;
$font-size-big = 24px;
$material-easing = cubic-bezier(.25, .8, .25, 1)
$transition-bezier = cubic-bezier(0.175, 0.885, 0.32, 1.275)


$coll-size = 50px;
