@require 'styles/config/vars'

.snake-history
    padding 0
    border-collapse collapse
    td, th
        border-top 1px solid $color-light-gray
        padding 0 32px
        height $coll-size
        text-align left
