@require 'styles/config/vars'
.snake-app
    font-family 'Arial'
    &__controll
        display flex
        background $color-light-gray
        padding 32px 30%
        margin-bottom 60px
    &__fild
    &__btn
    &__count-domains
        margin-right 30px
        color $color-gray
    &__fild
        width 140px
        display inline-block

    &__result
        display flex
        justify-content center
        flex-wrap wrap
    &__history
    &__matrix
        display inline-block
        max-width 100%
